[submodule "roles/ceph_common"]
	path = roles/ceph_common
	url = https://github.com/alvistack/ansible-role-ceph_common.git
	branch = develop
[submodule "roles/ceph_mds"]
	path = roles/ceph_mds
	url = https://github.com/alvistack/ansible-role-ceph_mds.git
	branch = develop
[submodule "roles/ceph_mgr"]
	path = roles/ceph_mgr
	url = https://github.com/alvistack/ansible-role-ceph_mgr.git
	branch = develop
[submodule "roles/ceph_mon"]
	path = roles/ceph_mon
	url = https://github.com/alvistack/ansible-role-ceph_mon.git
	branch = develop
[submodule "roles/ceph_osd"]
	path = roles/ceph_osd
	url = https://github.com/alvistack/ansible-role-ceph_osd.git
	branch = develop
[submodule "roles/ceph_rgw"]
	path = roles/ceph_rgw
	url = https://github.com/alvistack/ansible-role-ceph_rgw.git
	branch = develop
